page-tickets {

#navbarBackButton {

color: white;
border-color: #ffffff;
width: 100%;
height: 100%;
margin-right: 10px;
}

 .item {
   border: 1px #ffffff solid !important;
   border-radius: 5px !important;

 }
}
